<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Document</title>
    <link rel="stylesheet" href="bravo.css">
    <link rel="stylesheet" href="respo.css">
    <script src="jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
    .vl{
        width: 100px;
    border-radius: 20px 20px;
    font-family: fantasy;
    height: 30px;
    outline: none;
    background: #fd0024;
    color: #fff;
    font-size: 20px;
    }
    .ul li{
        margin: auto;
    margin-top: 25px;
    padding: 30px;
    background-color: #fd0024;
    color: #fff;
    font-size: 20px;
    width: 50%;
    font-family: fantasy;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    #ng p{
        text-align: center;
    font-size: 20px;
    font-family: fantasy;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    }
    #ng p input{
        height: 25px;
    width: 320px;
    text-align: center;
    color: red;
    border-radius: 20px;
    outline: none;
    }
    #ng{
        background-color: darkgoldenrod;
    }
    </style>
</head>
<body>
    <div class="bas">
        <div class="bas1">Azərbaycan, Bakı, Bülbül pr. 65 C</div>
        <div class="bas2"><i class="fa fa-phone"></i>*5551</div>
    </div>
    <div class="m" style="height: 100px;
    background-color: #df0024;">
        <ul style="    display: flex;
        justify-content: space-around;    align-items: center;
    justify-items: center;
    height: 100px;
    color: #fff;
    font-family: cursive;">
            <li class="asagi">
                <i class='far fa-hand-point-down'></i>
            </li>
            <li style="font-size: 30px;
            color: #df0024;
            font-family: fantasy;
            border: 0px solid red;
            border-radius: 18%;
            background-color: #fff;
            justify-items: center;
            align-items: center;
            display: flex;">ANCGROUP</li>
             <li class="m1"  >Haqqimizda<i class='fas fa-angle-down'></i>
                <ul style="position: absolute;">
                    <li class="m5" style="    align-items: center;
                    margin-top: 37px;
                    height: 35px;
                    display: flex;
                    background-color: #fd0024;
    color: #fff;
                    padding: 10px;"><a target="blank" href="bravo2.html">Rahat Market Haqqinda</a></li>
                    <li class="m5" style="align-items: center;
                    height: 30px;
                    display: flex;
                    background-color: #fd0024;
    color: #fff;
                    padding: 10px;"><a target="blank" href="bravo3.html">Port Baku bazar haqqinda</a></li>
                </ul>
            </li>
            <li class="m3"  >Aksiyalar<i class='fas fa-angle-down'></i>
                <ul style="position: absolute;">
                    <li class="m5" style="    align-items: center;
                    margin-top: 37px;
                    height: 35px;
                    display: flex;
                    background-color: #fd0024;
    color: #fff;
                    padding: 10px;"><a target="blank" href="bravo5.html">Rahat Market</a></li>
                    <li class="m5" style="align-items: center;
                    height: 30px;
                    display: flex;
                    background-color: #fd0024;
    color: #fff;
                    padding: 10px;"><a target="blank" href="bravo5.html">Port Baku bazar</a></li>
                </ul>
            </li>
            <li class="m4">Musterilere<i class='fas fa-angle-down'></i>
                <ul style="position: absolute;">
                    <li class="m5" style="    align-items: center;
                    margin-top: 37px;
                    height: 35px;
                    display: flex;
                    background-color: #fd0024;
    color: #fff;
                    padding: 10px;"><a target="blank" href="bravo6.html">Musteri Huquqlari</a></li>
                    <li class="m5" style="align-items: center;
                    height: 30px;
                    display: flex;
                    background-color: #fd0024;
    color: #fff;
                    padding: 10px;"><a target="blank" href="bravo9.html">Memmuniyyet Anketi</a></li>
                    <li class="m5" style="align-items: center;
                    height: 30px;
                    display: flex;
                    background-color: #fd0024;
    color: #fff;
                    padding: 10px;"><a target="blank" href="bravo8.html">Irad ve Teklifler</a> </li>
                    <li class="m5" style="align-items: center;
                    height: 30px;
                    display: flex;
                    background-color: #fd0024;
    color: #fff;
                    padding: 10px;">En cox verilen suallar</li>
                </ul>
            </li>
            <li class="m8">Filiallar
            </li>
            <li class="m6">Media merkezi
            </li>
            <li class="m7"><a target="blank" href="bravo10.html">Vakansiyalar</a>
            </li>
            <li class="m11"><i class="fa fa-search"></i></li>
            <li class="m10">AZ <i class='fas fa-angle-down'></i>
                <ul style="position: absolute;">
                    <li class="m5" style="    align-items: center;
                    margin-top: 37px;
                    height: 35px;
                    display: flex;
                    background-color: #fd0024;
    color: #fff;
                    padding: 10px;">AZ</li>
                    <li class="m5" style="align-items: center;
                    height: 30px;
                    display: flex;
                    background-color: #fd0024;
    color: #fff;
                    padding: 10px;">EN</li>
                </ul>
            </li>
        </ul>
    </div>
    
    <div class="anasekil">
        <img src="img_y.svg"> 
    </div>
    <div ng-app="myApp" style="    margin-top: -4px;
    " ng-controller="namesCtrl" id="ng">

        <p>Type a letter in the input field:</p>
        
        <p><input type="text" ng-model="tst1"></p>
        <p><input type="text" ng-model="tst2"></p>
        <p><button class="vl" ng-click="btn()">Elave</button></p>
        
        <ul class="ul">
            <li ng-repeat="x in names | filter:tst1">{{ x }}</i></li>
          </li>
        </ul>
        
        </div>

        <script>
        angular.module('myApp', []).controller('namesCtrl', function($scope) {
            $scope.names = [
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum odio et augue vulputate, accumsan ullamcorper est molestie. Nulla aliquam dolor nec arcu maximus pharetra. Nam quis nunc ac est lobortis tempor. Nam hendrerit vestibulum malesuada. Etiam ullamcorper nec lectus a hendrerit. Maecenas eu quam diam. Donec mattis metus et nulla rutrum, ut accumsan nunc fermentum. Etiam sit amet molestie massa. Sed eget ullamcorper sapien. Nullam placerat purus elit. In purus augue, aliquam at vulputate eu, tempor ac felis. Vestibulum elit nibh, efficitur sed sem in, malesuada rhoncus nunc. Donec tincidunt dui dignissim lorem iaculis fringilla. Pellentesque tincidunt est a.',
                'Sed vel ex sit amet magna molestie porta finibus non enim.',
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a odio malesuada, luctus tellus et, accumsan tellus. Nullam neque erat, dignissim dignissim placerat nec, egestas nec purus. Vestibulum semper elementum purus et faucibus. Ut lacinia, lacus vel suscipit iaculis, mauris sem aliquet ligula, sit amet tristique felis nisl sed lorem. Etiam ut placerat risus, sit amet malesuada ligula. In scelerisque elit sed quam viverra eleifend. Proin id ante venenatis lorem sagittis porta. Aenean dictum vehicula hendrerit.',
                'Mauris eget leo ac risus rhoncus pulvinar.',
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras laoreet elementum sapien a imperdiet. Curabitur hendrerit mattis urna quis dignissim. Donec sed quam bibendum, gravida dui in, dignissim velit. Fusce non nisi et erat pharetra accumsan. Integer metus urna, pretium lacinia elit et, fermentum euismod risus. Maecenas vitae gravida velit, sed mollis erat. Praesent lacinia eget augue quis facilisis.',
                'Nunc suscipit elit sit amet blandit malesuada.',
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor est. Quisque pellentesque purus enim, vitae egestas diam mollis sed. Vestibulum tempor purus eget nulla imperdiet sagittis. Ut bibendum ante dui, sit amet varius eros fermentum sed. Etiam eu lacus vel tortor posuere venenatis ac ut arcu. Aenean lobortis augue eu risus vestibulum, vel eleifend leo sodales. Integer hendrerit arcu sed turpis pulvinar semper.',
                'Donec vel tellus id lorem fringilla molestie.',
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel imperdiet erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis lobortis felis ac vehicula. Quisque blandit libero eget felis mattis hendrerit. Aenean placerat odio ut est pharetra, vitae viverra arcu consequat. Pellentesque porttitor dapibus ipsum id efficitur.',
                'Praesent lobortis velit quis erat porta ultrices.',
                'Maecenas maximus enim ac sollicitudin maximus. Nullam elit orci, lobortis sit amet libero vitae, tempor sagittis mauris. Nam hendrerit nibh sit amet nulla tincidunt facilisis. Curabitur id pharetra neque. Suspendisse odio dui, tristique vestibulum risus vel, pretium porta nibh. In pretium, sem sit amet faucibus eleifend, felis velit vehicula metus, quis.',
            ];
            $scope.btn = function(){
                $scope.names.push($scope.tst2);
            }
        });
        </script>
    <div class="email" style="width: 100%; height: 100px;background-color: #333333;">
        <div class="axtaris" style="display: flex;justify-content: space-around;">
            <a style="display: flex;
            align-items: center;
            justify-items: center;"><input type="text" placeholder="E-poct daxil edin"><h6>Abune ol</h6></a>
            <p style="    color: #fff;
            margin-top: 9px;">Azərbaycan, Bakı, Bülbül pr. 65 C</p>
        </div>
    </div>
    <div class="son">
        <div>
            <p>Haqqimizda</p>
            <p>Rahat Market Haqqinda</p>
            <p>Port Baku Bazar Haqqinda</p>
            <p>Maliyye hesabatlari</p>
        </div>
        <div>
            <p class="kor">Korporativ Emekdasliq</p>
            <p>Mehsul teklif anketi</p>
            <p>Reklam teklif et</p>
            <p>Magaza yeri teklif anketi</p>
        </div>
        <div class="son1">
            <p>Musterilere</p>
            <p>Musteri Huquqlari</p>
            <p>Irad ve Teklifler</p>
            <p>Memmuniyyet Anketi<p>
            <p>En cox verilen suallar</p>
        </div>
        <div class="son2">
            <p>Media Merkezi</p>
            <p>Xeberler</p>
            <p>Kiv ucun</p>
        </div>
        <div class="son3">
            <p>Filiallar</p>
            <p>Vakansiyalar</p>
            <p>Elaqe</p>
            <p>Xerite</p>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('.m1 ul,.m3 ul,.m4 ul,.m10 ul').hide();
            $('.m10').mouseover(function(){
                    $('.m10 ul').show()
            })
            $('.m10').mouseout(function(){
                    $('.m10 ul').hide()
            })
            $('.m1').mouseover(function(){
                    $('.m1 ul').show()
            })
            $('.m1').mouseout(function(){
                    $('.m1 ul').hide()
            })
            $('.m3').mouseover(function(){
                    $('.m3 ul').show()
            })
            $('.m3').mouseout(function(){
                    $('.m3 ul').hide()
            })
            $('.m4').mouseover(function(){
                    $('.m4 ul').show()
            })
            $('.m4').mouseout(function(){
                    $('.m4 ul').hide()
            })
        })
        </script>
        <script>
        $(document).ready(function(){
            $('.gonder').click(function(){
                var ad=$('.red').val();
                var email=$('.red1').val();
                var telefon=$('.red2').val();
                var resiz=$('.resiz').val();
                var opt=$('.opt').val();
                if(resiz == ""){
                    $('.resiz').css('background-color','red');
                }else{
                    $('.resiz').css('background-color','yellow');
                }
                if(ad == "" || ad == null){
                    $('.red').css('background-color','red');
                }else{
                    $('.red').css('background-color','yellow');
                }
                if(email == "" || email.indexOf('@') <= 0){
                    $('.red1').css('background-color','red');
                }else{
                    $('.red1').css('background-color','yellow');
                }
                if(email.charAt(email.length-4)!='.'){
                    $('.red1').css('background-color','red');
                }
                else{
                    $('.red1').css('background-color','yellow');
                }
                if(telefon == "" || isNaN(telefon) ){
                    $('.red2').css('background-color','red');
                }else{
                    $('.red2').css('background-color','yellow');
                }
                if(opt == "Marketler" ){
                    $('.opt').css('background-color','red');
                }else{
                    $('.opt').css('background-color','yellow');
                }
            });
            $(".red,.red1,.red2,.resiz").keypress(function(e){
                var keyCode = e.which;
                if ( keyCode ==32 ) { 
                   return false;
                       }
                });
        })
        </script>
</body>
</html>